body {
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
    text-align: center;
}

.text-skyblue {
    color: skyblue;
}
.text-pink {
    color: rgb(255, 192, 203);
}
.h1-fonts {
    font-size: 2em;
    letter-spacing: 1.2em;
    text-shadow: 3px 3px 3px #808080;
    border-bottom: 3px solid rgb(115, 115, 114);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.p-bold{
    font-weight:bold
}